---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.GRAPHQL_ENDPOINT}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
    {
    mediaItem(id: "fisheye1", idType: SLUG) {
      altText
      sourceUrl
      title
      mediaDetails {
        width
        height
    }
  }
}
   `,
  }),
});

const hero = await response.json();

const { altText, sourceUrl } = hero.data.mediaItem;
const { width, height } = hero.data.mediaItem.mediaDetails;
---

<Layout title="Another country">
  <h1 class="text-center">Another Country</h1>
  <Image
    class="w-full"
    width={width}
    height={height}
    src={sourceUrl}
    alt={altText}
    loading="eager"
  />
</Layout>
